<!DOCTYPE html>
<html lang="{{ locale }}">

  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ title + ' – ' if title }}Cyril FIGUIN</title>
      <meta name="description" content="{{ description }}">
      <link rel="stylesheet" href="~/assets/design.styl">
      <link rel="shortcut icon" href="~/static/favicon.ico" type="image/x-icon">
    {% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

</html>